<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- gazebo plugin -->
  <gazebo>
      <plugin name="gazebo_ros_joint_state_publisher"
          filename="libgazebo_ros_joint_state_publisher.so">
          <update_rate>20</update_rate>
          <joint_name>jointX</joint_name>
          <joint_name>jointY</joint_name>
          <joint_name>jointZ</joint_name>
          <joint_name>joint1</joint_name>
          <joint_name>joint5</joint_name>
          <joint_name>joint6</joint_name>
      </plugin>
  </gazebo>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="jointX">
        <command_interface name="position">
          <param name="min">-0.95</param>
          <param name="max">0.95</param>
        </command_interface>
        <command_interface name="velocity"/>
        <state_interface name="position">
        </state_interface>
    </joint>
    <joint name="jointY">
        <command_interface name="position">
          <param name="min">-0.75</param>
          <param name="max">0.75</param>
        </command_interface>
        <command_interface name="velocity"/>
        <state_interface name="position">
        </state_interface>
    </joint>
    <joint name="jointZ">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">0.6</param>
        </command_interface>
        <command_interface name="velocity"/>
        <state_interface name="position">
        </state_interface>
    </joint>
    <joint name="joint1">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity"/>
        <state_interface name="position">
        </state_interface>
    </joint>
    <joint name="joint5">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity"/>
        <state_interface name="position">
        </state_interface>
    </joint>

    <joint name="joint6">
        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity"/>
        <state_interface name="position">
        </state_interface>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find robot_description)/config/controller.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- Base Link -->

  <!-- <gazebo reference="shelf">
    <material>Gazebo/White</material>
  </gazebo> -->

  <gazebo reference="link0">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="link1">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="link_joint2-1">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link_joint2-2">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link2">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="link_joint4">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link_joint5">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link5">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="end_effector">
    <material>Gazebo/Orange</material>
  </gazebo>

</robot>