<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="shelf_dist" value="0.2"/>
  <xacro:property name="cylinder_obj_mass" value="0.01"/>
  <xacro:property name="params_path" value="$(find robot_description)/config/properties.yaml"/>
  <xacro:property name="params" value="${xacro.load_yaml(params_path)}"/> 
  <xacro:property name="LINK1" value="${params['link1_length']}"/>
  <xacro:property name="LINK2" value="${params['link2_length']}"/>
  <xacro:property name="LINK3" value="${params['link3_length']}"/>
  <xacro:property name="THETA_JOINT2" value="${params['theta_joint2']}"/>

  <xacro:property name="MAX_LINK1" value="1.0"/>
  <xacro:property name="MAX_LINK2" value="1.0"/>
  <xacro:property name="MAX_LINK3" value="1.0"/>

  <xacro:property name="MIN_LINK1" value="0.045"/>
  <xacro:property name="MIN_LINK2" value="0.05125"/>
  <xacro:property name="MIN_LINK3" value="0.0115"/>

  <xacro:if value="${LINK1 >= MAX_LINK1}"> 
    <xacro:property name="LINK1" value="${MAX_LINK1}"/>
  </xacro:if>
  <xacro:if value="${MIN_LINK1 >= LINK1}"> 
    <xacro:property name="LINK1" value="${MIN_LINK1}"/>
  </xacro:if>

  <xacro:if value="${LINK2 >= MAX_LINK2}"> 
    <xacro:property name="LINK2" value="${MAX_LINK2}"/>
  </xacro:if>
  <xacro:if value="${MIN_LINK2 >= LINK2}"> 
    <xacro:property name="LINK2" value="${MIN_LINK2}"/>
  </xacro:if>

  <xacro:if value="${LINK3 >= MAX_LINK3}"> 
    <xacro:property name="LINK3" value="${MAX_LINK3}"/>
  </xacro:if>
  <xacro:if value="${MIN_LINK3 >= LINK3}"> 
    <xacro:property name="LINK3" value="${MIN_LINK3}"/>
  </xacro:if>

  <xacro:property name="LINK1_LENGTH" value="${LINK1-0.045}"/>
  <xacro:property name="LINK2_LENGTH" value="${LINK2-0.045-0.00625}"/>
  <xacro:property name="LINK3_LENGTH" value="${LINK3+0.015}"/>
  <xacro:property name="THETA_JOINT2_RAD" value="${pi*(THETA_JOINT2/180)}"/>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="blue">
    <color rgba="${146/255} ${195/255} ${255/255} 0.8"/>
  </material>

  <material name="red">
    <color rgba="${255/255} ${51/255} ${51/255} 0.8"/>
  </material>

  <material name="yellow">
    <color rgba="${215/255} ${196/255} ${23/255} 0.8"/>
  </material>

  <material name="green">
    <color rgba="${0/255} ${168/255} ${44/255} 0.8"/>
  </material>

  <material name="black">
    <color rgba="${0/255} ${0/255} ${0/255} 0.8"/>
  </material>

</robot>