<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="shelf_dist" value="0.2"/>
  <xacro:property name="cylinder_obj_mass" value="2"/>
  <xacro:property name="params_path" value="$(find robot_description)/config/properties_v2.yaml"/>
  <xacro:property name="params" value="${xacro.load_yaml(params_path)}"/> 
  <xacro:property name="LINK1" value="${params['link1_length']}"/>
  <xacro:property name="LINK2" value="${params['link2_length']}"/>
  <xacro:property name="LINK5" value="${params['link5_length']}"/>
  <xacro:property name="THETA_JOINT4" value="${params['theta_joint4']}"/>

  <xacro:property name="MAX_LINK1" value="0.2"/>
  <xacro:property name="MAX_LINK2" value="0.2"/>
  <xacro:property name="MAX_LINK5" value="0.2"/>

  <xacro:property name="MIN_LINK1" value="0.045"/>
  <xacro:property name="MIN_LINK2" value="0.05125"/>
  <xacro:property name="MIN_LINK5" value="0.0115"/>

  <xacro:if value="${LINK1 >= MAX_LINK1}"> 
    <xacro:property name="LINK1" value="${MAX_LINK1}"/>
  </xacro:if>
  <xacro:if value="${MIN_LINK1 >= LINK1}"> 
    <xacro:property name="LINK1" value="${MIN_LINK1}"/>
  </xacro:if>

  <xacro:if value="${LINK2 >= MAX_LINK2}"> 
    <xacro:property name="LINK2" value="${MAX_LINK2}"/>
  </xacro:if>
  <xacro:if value="${MIN_LINK2 >= LINK2}"> 
    <xacro:property name="LINK2" value="${MIN_LINK2}"/>
  </xacro:if>

  <xacro:if value="${LINK5 >= MAX_LINK5}"> 
    <xacro:property name="LINK5" value="${MAX_LINK5}"/>
  </xacro:if>
  <xacro:if value="${MIN_LINK5 >= LINK5}"> 
    <xacro:property name="LINK5" value="${MIN_LINK5}"/>
  </xacro:if>

  <xacro:property name="LINK1_LENGTH" value="${LINK1-0.045}"/>
  <xacro:property name="LINK2_LENGTH" value="${LINK2-0.045-0.00625}"/>
  <xacro:property name="LINK5_LENGTH" value="${LINK5+0.015}"/>
  <xacro:property name="THETA_JOINT4_RAD" value="${pi*(THETA_JOINT4/180)}"/>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="blue">
    <color rgba="${118/255} ${186/255} ${255/255} 0.62"/>
  </material>

</robot>